// EnterNowButton.module.scss
@import '../../../styles/globalVariables';

.button {
  grid-area: enterNow;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: $bold-text-color;
  font-size: $desktop-xs;
  color: #fff;
  transition: all 0.3s ease-out;
  margin-top: 54px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: $device-medium) {
  .button {
    font-size: $mobile-md;
  }
}
