// home.module.scss
@import '../styles/globalVariables';
$bg-image-url: '../public/Image.png';

.homeTopSection {
  width: 100%;
  min-height: 780px;
  padding-bottom: 50px;
  background-color: $backgroundColor;
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
  background-blend-mode: color, multiply, normal, normal;
  background-position: 0 0, 0 0, 0 0, center 20%;
  background-image: linear-gradient(0deg, #ce022c, #ce022c),
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url($bg-image-url);
}
