// Global Variables

$bold-text-color: #fd3560;
$black-text: #000000;
$page-white-background: #ffffff;
$backgroundColor: #7e011c;
$off-white-bg: #f5f5f5;

// Letter spacing
$spacing-big: 2.8px;
$spacing-medium: 2.2px;
$spacing-small: 1.4px;
$spacing-xSmall: 0.12px;

// Responsive Text Sizing
// desktop
$desktop-xxs: 12px;
$desktop-xs: 13px;
$desktop-sm: 14px;
$desktop-md: 16px;
$desktop-lg: 18px;
$desktop-xl: 24px;
$desktop-xxl: 30px;
$desktop-head: 60px;

// mobile
$mobile-xxs: 10px;
$mobile-xs: 11px;
$mobile-sm: 12px;
$mobile-md: 13px;
$mobile-lg: 15px;
$mobile-xl: 18px;
$mobile-xxl: 30px;

// Responsive Screen Widths: (CUSTOM)
$device-xLarge: 1200px;
$device-large: 992px;
$device-medium: 768px;
